@model Proyecto.Models.Administrar_Usuarios

@{
    ViewBag.Title = "Delete";
}
    <body style="background-color:lightblue">
        <h2></h2>

        <h1 style="color:red">Estas seguro de eliminar los datos</h1>
        <div>
            <h4>Eliminar Usuarios</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Documento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Celular)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-default" /> |
                    @Html.ActionLink("Registros", "Index")
                </div>
            }
        </div>
    </body>