@model Proyecto.Models.Administrar_Usuarios

@{
    ViewBag.Title = "Details";
}
<body style="background-color:lightblue">
<h2></h2>

<div>
    <h4>Registro</h4>
    <hr />
    <table class="table">
        <tr >
            <th > @Html.DisplayNameFor(model => model.Nombre)</th>

            <th>@Html.DisplayNameFor(model => model.Documento)</th>

            <th>  @Html.DisplayNameFor(model => model.Celular)</th>
        </tr>
        

        <tr>
            <td>  @Html.DisplayFor(model => model.Nombre)</td>

            <td> @Html.DisplayFor(model => model.Documento)</td>

            <td> @Html.DisplayFor(model => model.Celular)</td>
        </tr>
    </table>
    @*
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Documento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Documento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Celular)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Celular)
            </dd>

        </dl>
    *@
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idUsuarios }) |
    @Html.ActionLink("Registros", "Index")
</p>
    </body>