
@model IEnumerable<Proyecto.Models.solicitud_estudiante>

@{
    ViewBag.Title = "Usuario";
}

<h2>Registro Estudiante</h2>
<h1>ESTA PAGINA LA VERA EL USUARIO </h1>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label>Nombres </label>
            @*   @Html.DisplayNameFor(model => model.nomEstudiante)*@
        </th>

        <th>
            <label>Apellidos </label>
            @*       @Html.DisplayNameFor(model => model.apellEstudiante)*@ 
        </th>
        <th>
            <label>Salon</label>
            @*@Html.DisplayNameFor(model => model.salon_al_cual_pertenece)*@
        </th>
        <th>
            <label>Carnet</label> 
            @*   @Html.DisplayNameFor(model => model.carnetEstudiante)*@
        </th>
        <th>
            <label>Elemento solicitado</label>
            @*  @Html.DisplayNameFor(model => model.elementoSolicitado)*@
        </th>
        <th>

        </th>
        
    </tr>
    
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nomEstudiante)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.apellEstudiante)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.salon_al_cual_pertenece)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.carnetEstudiante) 
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.elementoSolicitado)
    </td>
    @*
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idEstudiante }) |
                @Html.ActionLink("Details", "Details", new { id=item.idEstudiante })|  
            @Html.ActionLink("Delete", "Delete", new { id = item.idEstudiante })
        </td>
    *@
</tr>
    }

</table>
