@model IEnumerable<Proyecto.Models.Area_dispositivo>

@{
    ViewBag.Title = "Index";
}
    <body style="background-color:lightgrey">
        <h2>Registros dispositivos</h2>

        <p>
            @Html.ActionLink("Pagina Principal", "Index", "Home")
            <br />
            <br />
            @Html.ActionLink("Registrar Dispositivos", "Create")

        </p>
        <table class="table">

            <tr>
                <th>
                    Dispositivo
                    @*   @Html.DisplayNameFor(model => model.Nombre_del_dispositivo)*@
                </th>
                <th>
                    Numero de serie
                    @*    @Html.DisplayNameFor(model => model.Numero_de_serie)*@
                </th>
                <th>
                    Accesorios
                    @*  @Html.DisplayNameFor(model => model.Accesorio_del_dispositivo)*@
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_del_dispositivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero_de_serie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accesorio_del_dispositivo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Area }) |
                        @* @Html.ActionLink("Detalles", "Details", new { id = item.Area }) |*@
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Area })
                    </td>
                </tr>
            }

        </table>
    </body>